.home {
    position: relative;
    width: fit-content;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: auto;
  }
  
   .image-container img {
  
    display: block;
    width: 1250px;
    height: auto;
    padding: 50px;
   
  }
  
  .overlay-text {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 55px;
  }
  .overlay
  {
    position: absolute;
    top: 400px;
    left:700px ;
    text-align: center;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
  }
  
   /* .image-container {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .text-overlay h1 {
    font-size: 3rem;
    margin: 0;
  } */